body {
	margin: 0;
	background: #F8F9F9;
	font-family: Helvetica;
	color: #2C3E50;
	background-image: url("./../img/wood_wall_2.jpeg");
	background-position: center:
	background-size: cover;
	background-attachment: fixed;
	background-repeat: repeat;
}

h1, h2, h3 {
	margin: 0;
}






/*
	========================================================================================
	======================================= NAV BAR ========================================
*/

#navbar {
	background: #1ABC9C;
	padding: 20px 20px;
	position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    color: white;
    z-index: 2;
}

#navbar a {
	font-size: 20px;
	color: white;
}
#navbar a:hover {
	color: #D5D8DC;
}

#navbar #calendarfy-logo {
	font-family: 'Pacifico', cursive;
	font-size: 30px;
	color: white;
	margin: 0 0;
	float: left;
}

#navbar > table td:last-child {
	width: 100%;
	text-align: right;
	padding: 0;
}

#picker-container {
	overflow: hidden;
	position: absolute;
	left: 35%;
	width: 30%;
	min-width: 300px;
}
#period-view {
	float: left;
	width: 60%;
	margin: 0;
	border-radius: 5px;
	background: #17A589;
	text-align: center;
	padding: 5px;
	font-size: 1.25em;
}
#period-picker {
	float: left;
	width: 35%;
	margin-left: 5%;
}







/*
	========================================================================================
	========================================= BODY =========================================
*/

#body-container {
	margin: 123px auto; /* 93px (Navbar height) + 30px (Margin-top) = 123px */
	margin-bottom: 100px;
	padding: 30px 60px;
	max-width: 1000px;
	width: 100%;
	background: transparent;
	float: center;
	overflow: hidden;
}

#body-list {
	width: 61.8%;
	float: left;
	padding: 0 5px;
	/*background: #EBF5FB;*/
}

#body-calendar {
	width: 38.2%;
	float: left;
	padding: 0 5px;
	/*background: #FBEEE6;*/
}

/*
	======================================== LIST ========================================
*/

#list {
	/*background: #85C1E9;*/
	background: #2C3E50;
}

/* cell general */
.cell {
	background: white;
	margin-bottom: 1px;
}
.cell-img {
	height: 200px;
	background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center;
	background-image: url("./../img/wood_wall.jpeg")/*url("https://www.st-christophers.co.uk/__data/assets/image/0005/462614/prague_hero.jpg");*/

}

/* image section */
.cell-img-content {
	height: 200px;
	padding: 20px;
	background: rgba(0, 0, 0, 0.4);
	color: white;
	text-shadow: 2px 4px 8px #000000;
}
.cell-title {
	font-size: 40px;
}
.cell-location {
	font-size: 20px;
	display: inline;
}
.cell-img-content a.cell-location-btn {
	margin-left: 10px;
}
.cell-img-content a.cell-location-btn i.cell-pin:hover {
	color: #E74C3C;
}
.cell-img-content .cell-img-handling {
	margin-top: 65px;
}
.cell-img-content a {
	margin-right: 20px;
}
.cell-img-content a i:hover {
	color: #D5D8DC;
}

/* text section */
.cell-text-content {
	padding: 10px;
}
.cell-time {
	font-size: 20px;
	font-weight: bold;
}
.cell-date {
	margin-top: 5px;
	font-size: 15px;
}
.cell-text-content .cell-categories {
	/*overflow: hidden;*/
	margin-top: 8px;
	cursor: pointer;
}
.cell-text-content .cell-categories b {
	height: 24px;
	line-height: 24px;
}
.cell-text-content .cell-categories > div {
	color: rgba(20, 143, 119, 1);
}
.cell-text-content .cell-categories > div:hover {
	color: #0E6251;
}
.cell-text-content .category-color {
	margin-right: 10px;
	float: left;
}
.cell-btns {
	text-align: right;
	overflow: hidden;
}
.cell-btns i {
	display: inline;
	margin-left: 20px;
}
.cell-btns i:hover {
	color: #0E6251;
}

/*
	IMAGE MODAL
*/



/*
	CALENDAR
*/

#calendar {
	margin-bottom: 10px;
}

#calendar-head {
	background: white;
	overflow: hidden;
	text-align: center;
	vertical-align: middle;
}

#calendar-head div {
	display: inline-block;
	height: 36px;
	line-height: 36px;
}
#calendar-head a {
	float: left;
	display: inline-block;
}
#calendar-head a:last-of-type {
	float: right;
}
#calendar-head a i: hover {
	background: lightgray;
} 

#calendar-body {
	background: white;
}
#calendar-body table {
	width: 100%;
}

/*
	====================================== CATEGORIES ======================================
*/

#categories h2, #categories #add-category  {
	padding: 10px 10px;
	text-align: center;
}

#categories table {
	width: 100%;
}

/* Whole Cell */
#categories .category-cell {
	padding: 5px 10px;
}
#categories .category-cell:hover {
	background: #F8F9F9;
}

/* Single Sections */
.category-cell table td:first-child {
	width: 10px;
}
.category-cell table td:last-child {
	width: 24px;
}

/* Single elements */
.category-cell .title {
	padding: 0 5px;
}
.category-cell .delete {
	visibility: hidden;
}
.category-cell .delete i:hover {
	color: rgba(0,0,0,0.35);
}

/* Add Section */

#add-category td {
	padding: 0;
}
#add-category td:first-child {
	text-align: left;
}
#add-category td:last-child {
	width: 60px;
}

#add-category input {
	width: 95%;

	border: 0;
	border-radius: 10px;
	background: #EAEDED;
	padding: 10px;
	font-size: 16px;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

#add-category .blue.button {
	font-size: 16px;
	padding: 5px 10px;
	width: 60px;
	height: 39px;
	border-radius: 10px;
	line-height: 30px;
}

/*
	=================================== CATEGORY MODAL =====================================
*/

#category-modal h2 {
	margin-bottom: 20px;
}
#category-modal .button {
	width: 90%;
	max-width: 150px;
	margin: 30px auto;
	margin-bottom: 0;
}

/* Category Modal Cell */

#category-modal .cat-modal-cell {
	padding: 5px;
}
#category-modal .cat-modal-cell table {
	width: 100%;
}
#category-modal .cat-modal-cell td:first-child {
	width: 15px;
}
#category-modal .cat-modal-cell td:last-child {
	width: 15px;
}
#category-modal .cat-modal-cell input {
	margin: 0;
}

/*
	=================================== FLOATING BUTTÒN ====================================
*/

#floating-btn {
	background: #E74C3C;
	position: fixed;
	bottom: 40px;
	right: 40px;
	padding: 20px;
	border-radius: 50%;
}
#floating-btn:hover {
	background: #B03A2E;
}

/*
	==================================== MODAL WINDOW ======================================
*/

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 3; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-window {
    background-color: white;
    margin: 50px auto;
    padding: 40px;
    width: 90%; /* Could be more or less, depending on screen size */
    max-width: 500px;
    font-size: 16px;
    color: #2C3E50;
}

/* Inputs */
.modal-window input, .modal-window select {
	width: 100%;
	margin-bottom: 10px;
	border: 0;
	border-radius: 10px;
	/*outline: 0;*/
	background: #EAEDED;
	padding: 10px;
	font-size: 16px;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

.modal-window input[type=checkbox] {
	margin-left: 10px;
}

.modal-window select {
	color: white;
	background: url(../img/down-arrow.png) no-repeat right 0;
	background-color: #1ABC9C; /* green */
	overflow: hidden;
}

/* Inputs for dates */
.modal-window input[type=date] {
	display: inline-block;
	float: left;
	width: 47.5%;
}
.modal-window input[type=time] {
	float: right;
	width: 47.5%;
}


/* Labels */
.modal-window label {
	font-weight: bold;
	margin: 10px 10px;
	display: inline-block;
}

.submit-btn {
	display: block;
	width: 90%;
	max-width: 250px;
	margin: 30px auto;
	margin-bottom: 0;
	font-size: 24px;
	color: white;
	cursor: pointer;
	text-align: center;
	
	border-radius: 10px;
	border: 0;
}









/*
	---------------------- GENERAL ----------------------
*/


/* adds shadow to element */
.shadow {
	box-shadow: 0px 4px 25px black;
}

/* makes elements unselectable */
.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* represents the color dots which refer to categories */
.category-color {
	width: 10px;
	height: 10px;
	border-radius: 5px;
	background: lightblue;
}

/* sets style for a button */
.button {
	display: block;
	font-size: 24px;
	color: white;
	padding: 10px;
	cursor: pointer;
	text-align: center;
	
	border-radius: 10px;
	border: 0;
}

/* displays a tool tip */
.tooltip {
	position: relative;
	display: inline-block;
}
.tooltip .tooltiptext {
	visibility: hidden;
	width: 120px;
	background-color: #2C3E50;
	color: white;
	text-align: center;
	padding: 5px 0;
	border-radius: 6px;

	position: absolute;
	z-index: 1;
    bottom: 160%;
    left: 50%; 
    margin-left: -60px;
}
.tooltip:hover .tooltiptext {
	visibility: visible;
}
.tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 100%; /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #2C3E50 transparent transparent transparent;
}



a {
	text-decoration: none;
	cursor: pointer;
}

i {
	vertical-align: bottom;
}

div {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    margin: 0;
}

input {
	font-family: inherit;
}

select {
	-webkit-appearance: none;
	-moz-appearance: none;
	 appearance: none;
	 border:none;
	 border-radius: 0;
	 font-size: 1em;
	 width: 100%;
}

