body {
	margin: 0;
	background: #F8F9F9;
	font-family: Helvetica;
	color: #2C3E50;
	background-image: url("./../img/wood_wall_2.jpeg");
	background-position: center:
	background-size: cover;
	background-attachment: fixed;
}






/*
	========================================================================================
	======================================= NAV BAR ========================================
*/

#navbar {
	background: #1ABC9C;
	padding: 20px 20px;
	position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}

#calendarfy-logo {
	font-family: 'Pacifico', cursive;
	font-size: 30px;
	color: white;
	margin: 0 0;
}





/*
	========================================================================================
	========================================= BODY =========================================
*/

#body-container {
	margin: 123px auto; /* 93px (Navbar height) + 30px (Margin-top) = 123px */
	margin-bottom: 100px;
	padding: 30px;
	max-width: 1000px;
	width: 95%;
	background: transparent;
	float: center;
	overflow: hidden;
}

#body-list {
	width: 61.8%;
	float: left;
	padding: 0 5px;
	/*background: #EBF5FB;*/
}

#body-calendar {
	width: 38.2%;
	float: left;
	padding: 0 5px;
	/*background: #FBEEE6;*/
}

/*
	LIST
*/

#list {
	/*background: #85C1E9;*/
	background: #2C3E50;
}

.cell {
	background: white;
	margin-bottom: 1px;
}

.cell-img {
	height: 200px;
	background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center;
	background-image: url("./../img/wood_wall.jpeg")/*url("https://www.st-christophers.co.uk/__data/assets/image/0005/462614/prague_hero.jpg");*/

}

.cell-img-content {
	height: 200px;
	padding: 20px;
	background: rgba(0, 0, 0, 0.4);
	color: white;
	text-shadow: 2px 4px 8px #000000;
}

.cell-title {
	font-size: 40px;
}

.cell-location {
	font-size: 20px;
	display: inline;
}

.cell-img-content a.cell-location-btn {
	margin-left: 10px;
}
.cell-img-content a.cell-location-btn i.cell-pin:hover {
	color: #E74C3C;
}

.cell-img-content .cell-img-handling {
	margin-top: 65px;
}
.cell-img-content a {
	margin-right: 20px;
}
.cell-img-content a i:hover {
	color: #D5D8DC;
}

.cell-text-content {
	padding: 10px;
}

.cell-time {
	font-size: 20px;
	font-weight: bold;
}

.cell-date {
	margin-top: 5px;
	font-size: 15px;
}  

.cell-btns {
	text-align: right;
	overflow: hidden;
}

.cell-btns i {
	display: inline;
	margin-left: 20px;
}
.cell-btns i:hover {
	color: #0E6251;
}

/*
	IMAGE MODAL
*/



/*
	CALENDAR
*/

#calendar {
	/*background: #EDBB99;*/
	background: white;
}

#calendar-head {
	background: white;
	overflow: hidden;
	text-align: center;
	vertical-align: middle;
}

#calendar-head div {
	display: inline-block;
	height: 36px;
	line-height: 36px;
}
#calendar-head a {
	float: left;
	display: inline-block;
}
#calendar-head a:last-of-type {
	float: right;
}
#calendar-head a i: hover {
	background: lightgray;
} 

#calendar-body {
	background: white;
}
#calendar-body table {
	width: 100%;
}


/*
	FLOATING BUTTON
*/

#floating-btn {
	background: #E74C3C;
	position: fixed;
	bottom: 40px;
	right: 40px;
	padding: 20px;
	border-radius: 50%;
}
#floating-btn:hover {
	background: #B03A2E;
}

/*
	MODAL VIEW
*/

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-window {
    background-color: white;
    margin: 50px auto;
    padding: 40px;
    width: 90%; /* Could be more or less, depending on screen size */
    max-width: 500px;
    font-size: 16px;
    color: #2C3E50;
}

/* Inputs */
.modal-window input, .modal-window select {
	width: 100%;
	margin-bottom: 10px;
	border: 0;
	border-radius: 10px;
	/*outline: 0;*/
	background: #F4F6F6;
	padding: 10px;
	font-size: 16px;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

.modal-window input[type=checkbox] {
	margin-left: 10px;
}

.modal-window select {
	color: white;
	background: url(../img/down-arrow.png) no-repeat right 0;
	background-color: #1ABC9C; /* green */
	overflow: hidden;
}

/* Inputs for dates */
.modal-window input[type=date] {
	display: inline-block;
	float: left;
	width: 47.5%;
}
.modal-window input[type=time] {
	float: right;
	width: 47.5%;
}


/* Labels */
.modal-window label {
	font-weight: bold;
	margin: 10px 10px;
	display: inline-block;
}

.modal-window #submit-btn {
	display: block;
	width: 90%;
	max-width: 250px;
	margin: 30px auto;
	margin-bottom: 0;
	font-size: 24px;
	color: white;
	padding: 20px;
	cursor: pointer;
	text-align: center;
	
	border-radius: 10px;
	border: 0;
}









/*
	---------------------- GENERAL ----------------------
*/


/* adds shadow to element */
.shadow {
	box-shadow: 0px 4px 25px black;
}

/* makes elements unselectable */
.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

a {
	text-decoration: none;
	cursor: pointer;
}

i {
	vertical-align: bottom;
}

div {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    margin: 0;
}

input {
	font-family: inherit;
}

select {
	-webkit-appearance: none;
	-moz-appearance: none;
	 appearance: none;
	 border:none;
	 border-radius: 0;
	 font-size: 1em;
	 width: 100%;
}

